h4 {
  color: #ffffff;
}

.balance-container {
  margin-bottom: 10px;
}

.balance-container p, .balance-container h1  {
  background-color: white;
  border-radius: 20px;
  padding: 0 10px;
  line-height: 150%;
}

.total-container h4 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.total-container h1 {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: auto;
  width: fit-content;
}

.income-expense-container {
  display: flex;
  margin-top: 10px;
}

.income-expense-container h4 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.income-expense-container p {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: auto;
  width: fit-content;
}

.positive {
  color: #065658;
  font-weight: bold;
}

.negative {
  color: #ee2a34;
  font-weight: bold;
}

.amount-container {
  width: 100%;
}

.amount-container:last-child {
  border-left: 1px solid rgba(0,0,0,0.3);
}

/* --------------------------

h4 {
  color: #ffffff;
}

.balance-container p, .balance-container h1  {
  background-color: white;
  border-radius: 20px;
  padding: 0 20px;
  line-height: 150%;
}

.balance-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-container {
  padding-right: 20px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.total-container h4 {
  margin: auto;
  margin-bottom: 10px;
}

.total-container h1 {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.income-expense-container {
  padding-left: 20px;
  border-left: 3px solid rgba(0,0,0,0.1);
}

.income-container {
  padding: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.income-container h4 {
  margin-bottom: 10px;
  
}

.income-container p {
  font-size: 20px;
  color: #065658;
  font-weight: bold;
}

.expense-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.expense-container h4 {
  margin-bottom: 10px;
}

.expense-container p {
  font-size: 20px;
  color: #ee2a34;
  font-weight: bold;
}

.positive {
  color: #065658;
  font-weight: bold;
}

.negative {
  color: #ee2a34;
  font-weight: bold;
}
*/