.transaction-list-container {
  padding: 10px 0px;
}

.transaction-list-container h3 {
  color: #ffffff;
  margin-bottom: 20px;
  border-bottom: 3px solid rgba(0,0,0,0.1);;
  padding-bottom: 5px;
}

.transaction-container {
  display: flex;
  justify-content: flex-end;
}

.transaction-container button {
  display: none;
}

.transaction-container:hover button {
  display: flex;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0px 0px 5px 10px;
  width: 100%;
}

.transaction-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.positive {
  color: #065658;
  font-weight: bold;
}

.negative {
  color: #ee2a34;
  font-weight: bold;
}

.del-btn {
  border: 0;
  background: none;
  font-size: 18px;
  margin-bottom: 8px;
  background: #ec4141;
  border-radius: 10px;
  width: 35px;
  justify-content: center;
  margin-left: 5px;
}