.transaction-list-container {
  padding: 10px 0px;
}

.title-filter-container {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 3px solid #0000001a;
  padding-bottom: 5px;
  justify-content: space-between;
}

.title-filter-container h3 {
  color: #ffffff;
}

.title-filter-container button {
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #0000001a;
}

.filter-container {
  display: flex;
  font-size: 12px;
  align-items: center;
}

.filter-container select {
  line-height: 130%;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
}

.filter-container label {
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
  color: white;
}

.isFilterAvailable {
  display: none;
}

.transaction-container {
  display: flex;
  justify-content: flex-end;
}

.transaction-container button {
  display: none;
}

.transaction-container:hover button {
  display: flex;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0px 0px 5px 10px;
  width: 100%;
  align-items: center;
}

.transaction-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.positive {
  color: #3dac3d;
  font-weight: bold;
}

.negative {
  color: #ee2a34;
  font-weight: bold;
}

.del-btn {
  border: 0;
  background: none;
  font-size: 18px;
  margin-bottom: 8px;
  background: #ec4141;
  border-radius: 10px;
  width: 35px;
  justify-content: center;
  margin-left: 5px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container i {
  margin-right: 10px;
  font-size: 20px;
  width: 30px;
}

.transaction-icon-text {
  display: flex;
}